@media (max-width: 600px){

#logo{

    width: 100px;
}   

#banner img{
    
    display: none;
}

#cards{
 
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

#logo_rodape{

    display: none;
}
}