:root{

    --branco: #ffffff;
    --preto: #000000;
    --verde: #9bae45;
    --verde-escuro: #7d8f30;
    --bege: #8F7868;
    --bege-escuro: #745b49;
    --marrom: #433633;
    --cinza: #2c2c2c;
}

html, body{

    position: relative;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 45em;
}

body{

    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container{

    width: 100%;
    height: 100%;
}

swiper-slide{

    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img{

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CABEÇALHO */

header{

    background-color: var(--preto);
    display: flex;
    width: 100%;
    justify-content: center;
}

#logo{

    width: 180px;
}

/* BANNER */

#banner img{

    width: 100%;
    height: 85vh;
}

/* PRINCIPAL */

#principal{

    padding: 2.5em 2em;
}

#principal h1 {

    text-align: center;
    font-size: 3em;
    font-family: "Mogra", system-ui;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#cards{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 50px 100px;
}

.card{

    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--preto);
    padding: 1em 2em;
    border-radius: 5px;
    background-color: var(--branco);
}

.card h2{

    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2em;
    margin: .4em 0 .5em 0;
    text-align: center;
}

.card p{

    color: var(--cinza);
    margin-bottom: .5em;
}

.card button{

    padding: .5em 1em;
    background-color: var(--bege-escuro);
    border: 1px solid var(--preto);
    cursor: pointer;
}

.card button:hover{

    background-color: var(--marrom);
}

.card a{

    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--branco);
}

/* RODAPE */
#rodape section{

    background-color: var(--preto);
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-around;
}

#logo_rodape{

    width: 300px;
}

.contato{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h3{

    color: var(--bege-escuro);
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Mogra", system-ui;
    margin-bottom: .7em;
}

.contato a{

    cursor: pointer;
}

.contato img{

    width: 35px;
    padding: 0 .5em;
}

/* From Uiverse.io by ilkhoeri CARD CARROSEL*/ 
.wrapper{

    width: 100%;
    height: 60%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.inner{

    --w: 100px;
    --h: 150px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 20s linear infinite; /* */
  }
  @keyframes rotating {
    from {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX))
        rotateY(0);
    }
    to {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX))
        rotateY(1turn);
    }
}
  
.card_carrosel{

    position: absolute;
    border: 2px solid rgba(var(--color-card));
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
      translateZ(var(--translateZ));
}
  
.img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0000
      radial-gradient(
        circle,
        rgba(var(--color-card), 0.2) 0%,
        rgba(var(--color-card), 0.6) 80%,
        rgba(var(--color-card), 0.9) 100%
      );
}
